#main {
    background-color: #444;
    min-height: 100%;
    min-width: 360px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#counter {
    position: absolute;
    top: 12.5%;
    font-size: 3rem;
    text-align: center;
    color: #777;
    line-height: 2.5rem;
    
    span {
        font-size: 5rem;
        color: #fff;
    }
    
    #mpsCounter {
        font-size: 2rem;
        text-align: center;
        color: #aaa;
        line-height: 4.5rem;
    }
}

#meowButton {
    width: 80%;
    aspect-ratio: 1;
    background: none;
    border: none;
    
    .img {
        transition: all 250ms ease;
        
        // background-image: url("../img/placeholder-square.jpg");
        background-image: url("../img/catmeowmeow.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        image-rendering: pixelated;

        width: 100%;
        height: 100%;
    }
    
    :hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    :active {
        transform: scale(0.95);
    }
}